<div class="flex bg-gray-100 rounded-md p-1 max-w-[175px]">
  <%= link_to filter_url(@board, view: 'list'),
      class: filter_button_classes(active: @view_type == 'list', type: :toggle) do %>
    <svg class="w-4 h-4 inline mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
    </svg>
    List
  <% end %>

  <%= link_to filter_url(@board, view: 'card'),
      class: filter_button_classes(active: @view_type == 'card', type: :toggle) do %>
    <svg class="w-4 h-4 inline mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012 2v2M7 7h10"></path>
    </svg>
    Board
  <% end %>
</div>
